<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10 col-xl-8">
            <h2 class="h3 mb-4 page-title">Cài đặt</h2>
            <div class="my-4">
                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Thông tin cá nhân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Bảo mật</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Thông báo</a>
                    </li>
                </ul>
                <form>
                    <div class="row mt-5 align-items-center">
                        <div class="col-md-3 text-center mb-5">
                            <div class="avatar avatar-xl">
                                <img src="/assets/avatars/face-1.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </div>
                        <div class="col">
                            <div class="row align-items-center">
                                <div class="col-md-7">
                                    <h4 class="mb-1">{{user.lastName}}, {{user.firstName}}</h4>
                                    <p class="small mb-3"><span class="badge badge-dark">Quản trị viên Elegant Jewelry</span></p>
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-md-7">
                                    <p class="text-muted"> Khu vực quản lý thông tin tài khoản. Tại đây có thể cập nhật thông tin cá nhân và cài đặt bảo mật cho hệ thống thương mại điện tử Elegant Jewelry. </p>
                                </div>
                                <div class="col">
                                    <p class="small mb-0 text-muted">Elegant Jewelry Co.</p>
                                    <p class="small mb-0 text-muted">Quận 1, Thành phố Hồ Chí Minh</p>
                                    <p class="small mb-0 text-muted">(+84) 123-456-789</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="firstname">Tên</label>
                            <input type="text" id="firstname" class="form-control" placeholder="Nhập tên" value="{{user.firstName}}">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="lastname">Họ</label>
                            <input type="text" id="lastname" class="form-control" placeholder="Nhập họ" value="{{user.lastName}}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="email@example.com" value="{{user.email}}">
                    </div>
                    <div class="form-group">
                        <label for="inputAddress5">Địa chỉ</label>
                        <input type="text" class="form-control" id="inputAddress5" placeholder="Địa chỉ" value="Quận 1, Thành phố Hồ Chí Minh">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCompany5">Công ty</label>
                            <input type="text" class="form-control" id="inputCompany5" placeholder="Nhập tên công ty" value="Elegant Jewelry Co.">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState5">Thành phố</label>
                            <select id="inputState5" class="form-control">
                                <option selected="">Thành phố Hồ Chí Minh</option>
                                <option>Hà Nội</option>
                                <option>Đà Nẵng</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip5">Mã bưu chính (Zip)</label>
                            <input type="text" class="form-control" id="inputZip5" placeholder="Mã Zip" value="70000">
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="inputPassword4">Mật khẩu cũ</label>
                                <input type="password" class="form-control" id="inputPassword4">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword5">Mật khẩu mới</label>
                                <input type="password" class="form-control" id="inputPassword5">
                            </div>
                            <div class="form-group">
                                <label for="inputPassword6">Xác nhận mật khẩu</label>
                                <input type="password" class="form-control" id="inputPassword6">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p class="mb-2">Yêu cầu mật khẩu</p>
                            <p class="small text-muted mb-2"> Để tạo mật khẩu mới, mật khẩu phải đáp ứng các yêu cầu sau: </p>
                            <ul class="small text-muted pl-4 mb-0">
                                <li> Tối thiểu 8 ký tự </li>
                                <li>Có nhất một ký tự đặc biệt</li>
                                <li>Có ít nhất một chữ số</li>
                                <li>Không được trùng với mật khẩu cũ </li>
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div> <!-- /.my-4 -->
        </div> <!-- /.col-12 -->
    </div> <!-- .row -->
</div> <!-- .container-fluid -->
