<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <form action="/update-cart" method="POST">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                            <tr>
                                <th>Jewelry</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th>x</th>
                            </tr>
                            </thead>
                            <tbody>

                            {{#each product}}
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="{{image}}" alt="{{name}}" width="90">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>{{name}}</h6>
                                            <p style="margin-bottom: 0; color: #b7b7b7; font-size: 14px;">Size: <span style="color: #111; font-weight: 600;">{{size}}</span></p>
                                            <h5>
                                                {{formatCurrency price}} VND
                                            </h5>
                                        </div>
                                    </td>

                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="number" name="quantities[{{this.product_id}}_{{this.size}}]" value="{{this.quantity}}">
                                            </div>
                                        </div>
                                    </td>
                                    <td><h5 style="margin-bottom: 0; color: #b7b7b7; font-size: 16px;">
                                        <span style="color: #111; font-weight: 600;">{{formatCurrency this.total}} VND</h5></td>
                                    <td class="cart__close">
                                        <a href="/remove-cart/{{this.product_id}}?size={{this.size}}">
                                            <span class="icon_close"></span>
                                        </a>
                                    </td>
                                </tr>
                            {{/each}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/">
                                    Continue Shopping
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <button type="submit" class="site-btn">Update cart</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="cart__total">
                        <h6>Cart Total</h6>
                        <ul>
                            <li>
                                Total Items:
                                <span>{{totalQty}}</span>
                            </li>
                            <li>
                                Total Price:
                                <span>{{formatCurrency totalPrice}} VND</span>
                            </li>
                        </ul>
                        <a href="/checkout" class="primary-btn">
                            Proceed to Checkout
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Shopping Cart Section End -->