<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-12">
      <h2 class="h3 mb-3 page-title">Orders</h2>
      <div class="row mb-4 items-align-center">
        <div class="col-md-auto ml-auto text-right">
          <button type="button" class="btn" data-toggle="modal" data-target=".modal-slide"><span class="fe fe-filter fe-16 text-muted"></span></button>
          <button type="button" class="btn"><span class="fe fe-refresh-ccw fe-16 text-muted"></span></button>
        </div>
      </div>
      </div>
      <table class="table border table-hover bg-white">
        <thead>
          <tr role="row">
            <th>ID</th>
            <th>Purchase Date</th>
            <th>Customer</th>
            <th>Products</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {{#each orders}}
          <tr>
            <td>{{shortId _id}}</td>
            <td>{{createdAt}}</td>
            <td>
                <strong>{{user.firstName}} {{user.lastName}}</strong><br>
                <small class="text-muted">{{user.email}}</small><br>
                <small class="text-muted">{{shippingAddress.receiverPhone}}</small>
            </td>
            <td>
                <ul class="list-unstyled mb-0">
                    {{#each items}}
                    <li><small>- {{name}} (x{{quantity}})</small></li>
                    {{/each}}
                </ul>
            </td>
            <td><span class="font-weight-bold text-danger">{{formatCurrency totalPrice}} VND</span></td>
              <td>
                    <span class="dot dot-lg mr-2
                        {{#if (eq status 'PendingPayment')}}bg-warning{{/if}}
                        {{#if (eq status 'Paid')}}bg-info{{/if}}
                        {{#if (eq status 'Confirmed')}}bg-primary{{/if}}
                        {{#if (eq status 'Processing')}}bg-secondary{{/if}}
                        {{#if (eq status 'Shipping')}}bg-primary{{/if}}
                        {{#if (eq status 'Delivered')}}bg-success{{/if}}
                        {{#if (eq status 'Cancelled')}}bg-danger{{/if}}">
                    </span>
                    <span class="font-weight-bold
                        {{#if (eq status 'PendingPayment')}}text-warning{{/if}}
                        {{#if (eq status 'Paid')}}text-info{{/if}}
                        {{#if (eq status 'Confirmed')}}text-primary{{/if}}
                        {{#if (eq status 'Processing')}}text-secondary{{/if}}
                        {{#if (eq status 'Shipping')}}text-primary{{/if}}
                        {{#if (eq status 'Delivered')}}text-success{{/if}}
                        {{#if (eq status 'Cancelled')}}text-danger{{/if}}">
                        {{status}}
                  </span>
              </td>
            <td>
              <div class="d-flex align-items-center">
                  <a href="/admin/orders/invoice/{{_id}}" class="btn btn-sm btn-outline-primary ml-2">
                      <i class="fe fe-file-text"></i>
                  </a>
                {{#if (ne status 'Delivered')}}
                {{#if (ne status 'Cancelled')}}
                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle more-vertical" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span class="text-muted sr-only">Action</span>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <form action="/admin/orders/update-status/{{_id}}" method="POST">
                            {{#if (eq status 'PendingPayment')}}
                                <button class="dropdown-item text-info" type="submit" name="status" value="Paid">
                                    Set Paid
                                </button>
                                <button class="dropdown-item text-danger" type="submit" name="status" value="Cancelled">
                                    Set Cancelled
                                </button>
                            {{/if}}

                            {{#if (eq status 'Paid')}}
                                <button class="dropdown-item text-primary" type="submit" name="status" value="Confirmed">
                                    Set Confirmed
                                </button>
                            {{/if}}

                            {{#if (eq status 'Confirmed')}}
                                <button class="dropdown-item text-secondary" type="submit" name="status" value="Processing">
                                    Set Processing
                                </button>
                            {{/if}}

                            {{#if (eq status 'Processing')}}
                                <button class="dropdown-item text-primary" type="submit" name="status" value="Shipping">
                                    Set Shipping
                                </button>
                            {{/if}}

                            {{#if (eq status 'Shipping')}}
                                <button class="dropdown-item text-success" type="submit" name="status" value="Delivered">
                                    Set Delivered
                                </button>
                            {{/if}}
                        </form>
                    </div>
                </div>
                {{/if}}
                {{/if}}

              </div>
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <nav aria-label="Table Paging" class="my-3">
        <ul class="pagination justify-content-end mb-0">
          <li class="page-item"><a class="page-link" href="#">Previous</a></li>
          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
      </nav>
    </div>
  </div> <!-- .row -->
</div> <!-- .container-fluid -->
